.portfolio-projects {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    
        @media screen and (min-width: 768px) {
            justify-content: flex-start;
        }
    
        @media screen and (min-width: 1200px) {
            justify-content: center;
        }
}

.portfolio-project-img {
        flex-basis: calc(100% / 1 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 2 - 30px);
            margin-left: 30px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 3 - 30px);
            margin-left: 30px;
        }

    }

.portfolio-project {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        
            @media screen and (min-width: 481px) and (max-width:1199px) {
                display: flex;
                flex-direction: column;
                height: 100%;

            
        }

}



.portfolio-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittel-text-color);
    margin-bottom: 4px;
}

.list-content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    border-top: none;

        @media screen and (min-width: 481px) and (max-width:1199px) {
          flex-grow: 1;  
        }
    
}

.portfolio-text {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--letter-spacing);
}


/*Спливаючий текст на синьому фоні*/

.project-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-project-img .product-thumb::after {
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio-project:hover .project-thumb::after,
.portfolio-project:focus .project-thumb::after {
    transform: translateY(0%);
}

.product-action {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--background-color);
    background-color: rgba(33, 150, 243, 0.9);
    ;
    padding: 63px 24px;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio-project:hover .product-action,
.portfolio-project:focus .product-action {
    transform: translateY(0%);
}