ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}



body {
    font-family: var(--primary-font);
    color: var(--primery-text-color);
    font-size: var(--primary-font-size);
    letter-spacing: var(--letter-spacing);
    background-color: var(--background-color);
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}