:root {
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-hf-color: #2F303A;
    --primery-text-color: #757575;
    --tittel-text-color: #212121;
    --bacground-comand-color: #F5F4FA;
    --additional-color: #EEEEEE;
    --color-black: #000000;
    --btn-background-color: #188CE8;
    --adress-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-font-size: 14px;
    --letter-spacing: 0.03em;
    --card-set-gap: 30px;
}