.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.5, 0, 0.5, 1),
        visibility 250ms cubic-bezier(0.5, 0, 0.5, 1);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: 0;
    }
    }



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: calc(100% - 30px);
    min-height: 581px;
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    @media screen and (min-width: 480px) {
            width: 465px;
        }
    
    @media screen and (min-width: 1200px) {
            width: 528px;
        }
}

.btn-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.5, 0, 0.5, 1);
    cursor: pointer;

    &:hover,
    &:hover {
            fill: var(--accent-color);
        }
}




.modal-group {
    border: none;
    padding: 0;
    margin: 0;
}

.modal-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
    .modal__title {
        line-height: 1.15;
    }
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);

    &:not(:last-child) {
            margin-bottom: 10px;
        }
    }


.modal-input {
    margin-top: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.5, 0, 0.5, 1);

    &:focus {
            border-color: var(--accent-color);
        }
}



.modal-textarea {
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 16px 12px;
    width: 100%;
    height: 120px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.5, 0, 0.5, 1);

    &:focus {
            border-color: var(--accent-color);
        }
        
    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}





.modal-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.17;
    color: var(--primery-text-color);
    cursor: pointer;

    &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 15px;
            margin-right: 7px;
            border-radius: 2px;
            background-image: url(../images/checkbox/icon-checkbox-off.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transition-property: background-color, background-image;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        }
}


@media screen and (min-width: 1200px) {
    .modal__checkbox-label {
        font-size: 14px;
        line-height: 1.71;
    }
}



.policy-input:checked+.modal-checkbox-label::before {
    background-color: var(--btn-background-color);
    background-image: url(../images/checkbox/icon-checkbox-on.svg);
}

.modal-link-policy {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal-submit-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 52px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px;
    color: var(--background-color);
    transition: background-color 250ms cubic-bezier(0.5, 0, 0.5, 1);
    cursor: pointer;
    
    &:focus,
    &:hover {
            background-color: var(--btn-background-color);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        }
}


.modal-input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--color-black);
    transition: fill 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.modal-input:focus+.modal-icon {
    fill: var(--btn-background-color);
}